body {
  margin: 0;
}

.navbar {
  height: 150px;
  background-color: #484646;
  color: whitesmoke;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
    height: 200px;
    background-color: rgba(20, 20, 20, 0.486);
    color: white;
    text-align: center;
    position: flex;
    border: 5px solid black;
    margin: 50px 50px 50px 50px;
}

.container-computer-info{
    height: 200px;
    background-color: rgba(20, 20, 20, 0.486);
    color: white;
    text-align: center;
    position: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid black;
    margin: 50px 50px 50px 50px;
  }

.btn {
  border-color: transparent;
  transition: 0.3s;
}

.btn:hover {
  border-color: transparent;
  color: whitesmoke;
  background-color: #484646;
}
.dropdown-toggle {
  width: 200px;
  color: white;
}

.get-loan-btn {
  width: 100%px;
  color: black;
  background-color: rgb(53, 196, 61);
  position: relative;
  right: 0;
  bottom: 0;
}

.pay-loan-btn {
  width: 100px;
  color: black;
  background-color: rgb(53, 196, 61);
  position: relative;
  right: 0;
  bottom: 0;
}
#payLoanButton{
  display: none;
}

.buy-now {
    width: 200px;
    color: black;
    background-color:#4094bb;
    position: relative;
    right: 0;
    bottom: 0;
  }

.work-btn {
  width: 100px;
  transition: none;
}

.bank-btn {
  width: 100px;
  color: black;
  background-color: rgb(211, 228, 56);
}
.col {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 15px 6px 10px rgb(107, 95, 95);
}
.container .btn-holder {
  margin-top: auto;
  margin-bottom: 10px;
}

.img-responsive{
    float: left;
    width: 180px;
}

#computer-info-p, #featPara {
    justify-content: left;
    align-items: left;
    text-align: left;
    max-width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
#featPara {
  font-size-adjust: 0.5;
  font-size:small;
}

.row.computer-info{
    background-color: transparent;
    color: white;
    text-align: center;
    position: flex;
    border: 5px solid black;
    margin: 48px 48px 48px 48px;

}

.col.computer-info{
    background-color: rgba(20, 20, 20, 0.486);
    color: white;
    text-align: center;
    position: flex;
    border: 0px solid black;
    margin: 0px;
    box-shadow: 0px 0px 0px 0px rgb(107, 95, 95);
}

#loan {
  display: none;
}

#laptopSelect{
  justify-content: top;
  align-items: top;
  text-align: top;
}
